body{
  background-color: #3b7894;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h1{
  color: antiquewhite;
  
}

.calculator{
  border: solid #142638 2px;
  width: 500px;
}

.outerDisplay{
  text-align: right;
}

.display{
  float: right;
  width: 200px;
  border: black solid 4px;
  height: 18px;
}